<div class="center" ng-controller="BaseController">
  <%= render 'counter' %>

  <%= render 'tomatoes' %>

  <%= render 'form' %>
</div>

<%= javascript_tag do %>
  <% if current_running_tomato.present? %>
    window.currentRunningTomatoData = <%= raw current_running_tomato.to_json %>;
  <% end %>
<% end %>
