<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:900" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" media="all">
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag controller_path if javascript_exists? %>
</body>
</html>
