<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag controller_path if javascript_exists? %>
</body>
</html>
